<h1> Admin Page </h1>
  <ul>
    {{#each model as |blog|}}
    <p>{{blog.title}}</p>
    <button {{action 'delete' blog}}>Delete</button>
    {{/each}}
  </ul>
<br>
{{new-blog-post saveBlogPost="saveBlogPost"}}
