<h1> Admin Page </h1>
  <ul>
    {{#each model as |blog|}}
    <br>
    Title: <strong>{{blog.title}}</strong>
    <br>
    <br>
    <button class="btn btn-danger" {{action 'delete' blog}}>Delete</button>
    {{update-blog blog=blog update='update'}}
    <hr>
    {{/each}}
  </ul>
<br>
{{new-blog-post saveBlogPost="saveBlogPost"}}
