<h1> Admin Page </h1>
  <ul>
    {{#each model as |blog|}}
    <p>{{blog.title}}</p>
    <button class="btn btn-danger" {{action 'delete' blog}}>Delete</button>
    {{update-blog blog=blog update='update'}}
    {{/each}}
  </ul>
<br>
{{new-blog-post saveBlogPost="saveBlogPost"}}
