<h1> Programming in Javascript </h1>

<p> this blog is designed to demonstrate basic functionality in Ember.js. </p>

<ul>
  {{#each model.blogs as |blog|}}
    {{blog-tile blog=blog destroyBlog='destroyBlog' update='update'}}
  {{/each}}
</ul>

{{blog-comment comments=model.comments blog=model.blog}}
